
<table id="indexTable" class="table">
        <thead>
            <tr>
                <th>{% trans %}Classname{% endtrans %}</th>
                <th>{% trans %}Value{% endtrans %}</th>
                <th>{% trans %}Reusable{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.className }}</td>
                <td>{{ entity.fullValue }}</td>
                <td>{{ entity.reusable|bool|trans }}</td>
                <td>
                    <a class="btn btn-table-actions" href="{{ path('enumvalue_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    <a class="btn btn-table-actions" href="{{ path('enumvalue_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
